/* 
src/styles/Header.css
*/
.header {
  display: flex;
  width: 100%;
  justify-content:space-between;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    color: rgb(249, 244, 244);
    font-size: 1.9rem;
}

.wallet-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.walletButton {
  background-color: rgb(108, 216, 108);
  border: none;
  color: white;
  margin: 2rem;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.walletButton:hover {
  background-color: rgb(76, 175, 76);
}

.connected-status {
  display: flex;
}

.walletAddress {
    margin: 1rem;
    background-color: rgb(63, 192, 51);
    padding: 2px 5px;
    border-radius: 0.2rem;
    font-weight: bold;
    color: white;
}

.logout-button {
  background-color: rgb(158, 52, 52);
  margin: 5px 7px;
}

.logout-button:hover {
  background-color: rgb(230, 37, 37);

}

